<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styleresume.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <section>
        <div class="content MyPort">
            <h1>My Portfolio</h1>
        </div>
        <div class="content img">
            <img src="img/picstudent.jpg" height="350" width="350" />        
        </div>
        <div class="content infor">
            <h2><i>-ข้อมูลส่วนตัว-</i></h2>
            <ul class="middle">
                <li>ชื่อ-สกุล : ศุภวิชญ์ วงค์อิสรกุล </li>
                <li>ชื่อเล่น : นาย </li>
                <li>อายุ : 21 ปี </li>
                <li>วันเกิด : 13 กุมภาพันธ์ 2546 </li>
                <li>สัญชาติ : ไทย </li>
            </ul>
        </div>
        <div class="content good">
            <h2><i>-ข้อดี-</i></h2>
            <ul class="middle">
                <li>ตรงต่อเวลา</li>
                <li>ซื่อสัตย์</li>
                <li>มีทัศนคติที่ดี</li>
                <li>มีความรับผิดชอบต่องาน</li>
            </ul>

        </div>
        <div class="content bad">
            <h2><i>-ข้อเสีย-</i></h2>
            <ul class="middle">
                <li>พูดน้อย</li>
                <li>ขี้อาย</li>
            </ul>
            
        </div>
        <div class="content skill">
            <h2><i>-ทักษะความสามารถ-</i></h2>
            <ul>
                <li>การใช้โปรแกรมออกแบบวงจร Proteus , LabView , Matlab , Visual Studio , Pspice , Mplab </li>
                <li>การเขียนโค้ดภาษา Python , Java , Assembly , C </li>
                <li>การใช้โปรแกรมงานเอกสาร Word , Powerpoint , Excel </li>
                <li>การซ่อม Main Board Internet Router</li>
            </ul>

        </div>
        <div class="content project">
            <h2><i>-ผลงานโปรเจค-</i></h2>
            <ul>
                <li>PCB Board นับเลข 7Segment</li>
                <li>Miniproject car wash queue management system (ภาษา Assembly)</li>
                <li>Miniproject Medicine Cupboard (ภาษา C)</li>
                <li>การเชื่อมภาษา Rasberry pi กับ ภาษา C ให้ทำงานร่วมกัน </li>
                <li>เขียนโปรแกรมรันบัตรคิวด้วยภาษา Java </li>
                <li>Add echo and remove fromn audio signal (โปรแกรม Matlab)</li>
            </ul>

        </div>
    </section>
</body>