<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY RESUME</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section>
        <div class="head">
            <h1>MY RESUME</h1>               
        </div>

        <div class="menu-con">
            <a class="menu" href="Home">
                <div>
                    <p>&#129333 Profile </p>
                </div>
            </a>
            <a class="menu" href="exp">
                <div>
                    <p>&#128218 Experience </p>
                </div>
            </a>
            <a class="menu" href="project">
                <div>
                    <p>&#128203 Project </p>
                </div>
            </a>
            <a class="menu" href="contact">
                <div>
                    <p>&#128204 Contact </p>
                </div>
            </a>
            
        </div>
    </section>
    
</body>
</html>