<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styleresume.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <section>
    
        <div class="content ex">
            <h2><i>-ตัวอย่างผลงานโปรเจค-</i></h2>
            <div>
                <li>PCB Board นับเลข 7Segment</li>
                <img src="img/w1.jfif" height="550" width="850" />
            </div>
            <div>
                <li>Miniproject car wash queue management system (ภาษา Assembly)</li>
                <iframe width="850" height="500" src="https://www.youtube.com/embed/2UfcX0sR_O4?si=mPq22U4jmqGRGvrC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div>
                <li>Miniproject Medicine Cupboard (ภาษา C)</li>
                <iframe width="850" height="500" src="https://www.youtube.com/embed/jGBeRBiB1QM?si=GxavWsUA069FxjFi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div>
                <li>Add echo and remove fromn audio signal (โปรแกรม Matlab)</li>
                <iframe width="850" height="500" src="https://www.youtube.com/embed/6pqVsdTJdzo?si=Fc26CZKJ5e3ibXnc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
               
        </div>

    </section>
</body>